*{
    font-family: monospace;
    font-size: 15px;
    margin: 10px 10px;
}

product_list{
    display: table;
}

product{
    display: table-row;
}
name,quantity,price,store{
    display: table-cell;
    width: 100px;
    padding: 5px 10px;
    border: thin solid burlywood;
}

quantity,price{
    text-align: right;
    color: red;
}