<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>

    <!-- nhung thu vien angularjs tu mang CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <!-- nhung thu vien bootstrap css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <style>
        thead th {
            color: red;
        }

        tbody td:nth-child(4) {
            text-align: right;
        }

        tbody td:nth-child(5) {
            text-align: right;
        }
    </style>
</head>

<body ng-app="abc">
    <div class="container-fluid" ng-controller="controlData">
        <div>
            <label for="">Ten mon hoc</label>
            <input type="text" ng-model="ten_tk">
        </div>

        <div>
            <h2>Danh sach cac mon hoc</h2>

            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>So TT</th>
                        <th>Ma MH</th>
                        <th>Ten Mon Hoc</th>
                        <th>So gio hoc</th>
                        <th>Hoc Phi</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr ng-repeat="item in data | filter:{name:ten_tk}"> -->
                    <tr ng-repeat="item in data | filter:ten_tk">
                        <td> {{$index+1}} </td>
                        <td> {{item.id | lowercase}} </td>
                        <td> {{item.name | uppercase}} </td>
                        <td> {{item.hours}}</td>
                        <td> {{item.fee}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>
<script>
    //khai bao bien app, dai dien cho ung dung angularjs
    let app = angular.module("abc", []);

    //lap trinh cho controller [controlData]
    app.controller("controlData", function ($scope) {
        //khoi tao mang json [data] chua ds cac mon hoc
        $scope.data = [
            { "id": "LBEP", "name": "Lap trinh co ban", "hours": 48, "fee": 120 },
            { "id": "HCJS", "name": "Thiet ke Web : HTML/CSS/JS", "hours": 52, "fee": 200 },
            { "id": "AJS", "name": "Framework Angular/ AngularJS", "hours": 16, "fee": 80 },
            { "id": "Pro_1", "name": "eProject HK1", "hours": 28, "fee": 200 },
            { "id": "DMS", "name": "He QTCSDL Quan He - SQLSERVER", "hours": 52, "fee": 220 }
        ];
    });
</script>

</html>